<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>931181899701-j0pan6jdi2v8mfknd4kje0p9edratgo5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931181899701-j0pan6jdi2v8mfknd4kje0p9edratgo5</string>
	<key>API_KEY</key>
	<string>AIzaSyBvUSjrOAikNdUnmcfCWMKAIBV_QtRL9Nc</string>
	<key>GCM_SENDER_ID</key>
	<string>931181899701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Exercise3.ios</string>
	<key>PROJECT_ID</key>
	<string>munch-mates-marquette</string>
	<key>STORAGE_BUCKET</key>
	<string>munch-mates-marquette.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931181899701:ios:840bf0bf6ed69b88</string>
	<key>DATABASE_URL</key>
	<string>https://munch-mates-marquette.firebaseio.com</string>
</dict>
</plist>